# **1  Load Bigmart Sales data**

In [1]:
import pandas as pd

In [2]:
bigmart = pd.read_csv('train_bm.csv')

In [3]:
bigmart.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

# **1.1  Check datatypes of variables**

In [4]:
bigmart.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

# **1.2  Encoding a single variable- Outlet Type**

In [5]:
bigmart['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [6]:
pd.get_dummies(bigmart['Outlet_Type']).head()

   Grocery Store  Supermarket Type1  Supermarket Type2  Supermarket Type3
0              0                  1                  0                  0
1              0                  0                  1                  0
2              0                  1                  0                  0
3              1                  0                  0                  0
4              0                  1                  0                  0

# **1.3  Doing one hot encoding for all the variables**

In [8]:
bigmart_encoded = pd.get_dummies(bigmart)
bigmart_encoded.head()

   Item_Weight  ...  Outlet_Type_Supermarket Type3
0         9.30  ...                              0
1         5.92  ...                              0
2        17.50  ...                              0
3        19.20  ...                              0
4         8.93  ...                              0

[5 rows x 1605 columns]

We have two problems here:

**1.3.1  Problem 1:**

Look at the newly created variables 'Outlet_Size_High Outlet_Size_Medium Outlet_Size_Small', the order between these variables is destroyed. As a result we are missing out on some important information.

In [9]:
bigmart_encoded[['Outlet_Size_High', 'Outlet_Size_Medium', 'Outlet_Size_Small']].head()

   Outlet_Size_High  Outlet_Size_Medium  Outlet_Size_Small
0                 0                   1                  0
1                 0                   1                  0
2                 0                   1                  0
3                 0                   0                  0
4                 1                   0                  0

**1.3.2  Problem 2**

The number of features has increased from 12 to 1600, where maximum values are 0.

In [10]:
bigmart.shape, bigmart_encoded.shape

((8523, 12), (8523, 1605))

# **2  Problem 1 solution**

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
bigmart['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [15]:
le.fit_transform(['Small', 'Medium', 'High'])

array([2, 1, 0])

**Label encoder uses the alphabetical order**.

In [16]:
bigmart['Outlet_Size'] = bigmart['Outlet_Size'].map({'Small': 0,
                                                     'Medium': 1,
                                                     'High': 2})

In [17]:
bigmart['Outlet_Size'].head()

0    1.0
1    1.0
2    1.0
3    NaN
4    2.0
Name: Outlet_Size, dtype: float64

# **4  Problem 2 solution(Sparse Classes)**

In [18]:
bigmart.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [19]:
bigmart['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCF42     9
FDP25     9
NCJ30     9
         ..
FDK57     1
FDE52     1
FDQ60     1
FDN52     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [20]:
temp= bigmart['Item_Identifier'].value_counts()
temp.head()

FDW13    10
FDG33    10
NCF42     9
FDP25     9
NCJ30     9
Name: Item_Identifier, dtype: int64

In [21]:
bigmart['Item_identifier_count'] = bigmart['Item_Identifier'].apply(lambda x: temp[x])
bigmart[['Item_Identifier','Item_identifier_count']].head()

  Item_Identifier  Item_identifier_count
0           FDA15                      8
1           DRC01                      6
2           FDN15                      7
3           FDX07                      6
4           NCD19                      6

In [23]:
for i in range(0, len(bigmart)):
    if bigmart['Item_identifier_count'][i] < 4:
        bigmart['Item_Identifier'][i] = 'other'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
bigmart.head(7)

  Item_Identifier  Item_Weight  ... Item_Outlet_Sales  Item_identifier_count
0           FDA15        9.300  ...         3735.1380                      8
1           DRC01        5.920  ...          443.4228                      6
2           FDN15       17.500  ...         2097.2700                      7
3           FDX07       19.200  ...          732.3800                      6
4           NCD19        8.930  ...          994.7052                      6
5           other       10.395  ...          556.6088                      3
6           FDO10       13.650  ...          343.5528                      8

[7 rows x 13 columns]

In [25]:
 bigmart['Item_Identifier'].value_counts()

other    418
FDW13     10
FDG33     10
FDT07      9
FDQ40      9
        ...
FDP13      4
FDM52      4
FDX14      4
FDU52      4
FDU35      4
Name: Item_Identifier, Length: 1403, dtype: int64